{% extends 'base.html' %}

{% block title %}home - {{ super() }}{% endblock %}

{% block content %}
<head>
    <script defer src="{{ url_for('static', filename='js/fun_home.js') }}"></script>
</head>
<h1>Consultas </h1>
<p>Elige las entradas que se necesitan para la consulta</p>
<form id="1" method="post">
    <div class="container">
        <div>
            <h2>Fecha</h2>
        </div>
        <div>
            <label for="inicial">Desde</label>
            <input id="inicial" type="datetime" name="fecha_inicial" placeholder="yyyy-mm-dd" required />
            <label for="final">a</label>
            <input id="final" type="datetime" name="fecha_final" placeholder="yyyy-mm-dd" required />
        </div>
    </div>

    <div class="container">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="Asunto" value="or tipoingreso = 'ASUNTO'" name="asunto">
            <label class="form-check-label" for="Asunto">Tramite</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="Tramite" value="or tipoingreso = 'TRAMITE'" name="tramite">
            <label class="form-check-label" for="Tramite">Asunto</label>
        </div>
    </div>

    <div class="container">
        <select class="form-select" aria-label="Default select example" name="materia" required>
            <option selected></option>
            <option value="ATMOSFERA">ATMOSFERA</option>
            <option value="CAMBIO DE USO DE SUELO">CAMBIO DE USO DE SUELO</option>
            <option value="IMPACTO AMBIENTAL">IMPACTO AMBIENTAL</option>
            <option value="LINEA BASE AMBIENTAL">LINEA BASE AMBIENTAL</option>
            <option value="RIESGO AMBIENTAL">RIESGO AMBIENTAL</option>
            <option value="TERCEROS">TERCEROS</option>
            <option value="RESIDUOS">RESIDUOS</option>
            <option value="SITIOS CONTAMINADOS">SITIOS CONTAMINADOS</option>
            <option value="SEGUROS">SEGUROS</option>
            <option value="SASISOPA">SASISOPA</option>
            <option value="AVISOS DE POZOS">AVISOS DE POZOS</option>
            <option value="AUDITORIA AMBIENTAL">AUDITORIA AMBIENTAL</option>
            <option value="RESIDUOS MANEJO ESPECIAL">RESIDUOS MANEJO ESPECIAL</option>
            <option value="INDUSTRIA LIMPIA">INDUSTRIA LIMPIA</option>
            <option value="CIERRE, DESMANTELAMIENTO Y ABANDONO">CIERRE, DESMANTELAMIENTO Y ABANDONO</option>
            <option value="PROTOCOLO DE RESPUESTA A EMERGENCIA">PROTOCOLO DE RESPUESTA A EMERGENCIA</option>
            <option value="EXPENDIO SIMULTANEO">EXPENDIO SIMULTANEO</option>
            <option value="METANO">METANO</option>
            <option value="NORMAS">NORMAS</option>
        </select>
    </div>

    <div class="container">
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="D1" value="or dir_gen = 'DGGC'">
                <label class="form-check-label" for="D1">DGGC</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="D2" value="or dir_gen = 'DGGTA'">
                <label class="form-check-label" for="D2">DGGTA</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="D3" value="or dir_gen = 'DGGEERC'">
                <label class="form-check-label" for="D3">DGGEERC</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="D4" value="or dir_gen = 'DGGPI'">
                <label class="form-check-label" for="D4">DGGPI</label>
            </div>
        </div>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="D5" value="or dir_gen = 'DGGEERNCM'">
                <label class="form-check-label" for="D5">DGGEERNCM</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="D6" value="or dir_gen = 'DGGOI'">
                <label class="form-check-label" for="D6">DGGOI</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="D7" value="or dir_gen = 'DGIE'">
                <label class="form-check-label" for="D7">DGIE</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="D8" value="or dir_gen = 'DGGPITA'">
                <label class="form-check-label" for="D8">DGGPITA</label>
            </div>
        </div>
    </div>
    <div>
        <input id="con" type="text" name="er" />
        <input id="r_con" type="submit" class="btn btn-primary" value="Realizar consulta" />
    </div>
</form>

<ul id="con_tipingre" class="list_g" hidden></ul>

{% endblock %}
