{% extends 'base.html' %}

{% block title %}Consultas pruebas - {{ super() }}{% endblock %}

{% block content %}
<h1>Consulta</h1>
    <table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Bitacora</th>
                <th scope="col">Razon social</th>
                <th scope="col">Rfc</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0]}} </td> <!-- columna de fechas -->
                <td>{{ user[1]}} </td> <!-- columna de bitacora -->
                <td>{{ user[2]}} </td> <!-- columna de razon social -->
                <td>{{ user[3]}} </td> <!-- columna de rfc -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
